/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
bootstrap/cache/config.php
storage/framework/views/0cb213c2b04be081c95191a665656356.php
storage/framework/views/10e85b478f2e2737fd28f15ea14b1e40.php
storage/framework/views/22b796bef84a0f000f2b4c55f3161ea6.php
storage/framework/views/284fb1f4aa9857d2d55a711c75c79802.php
storage/framework/views/43c4c2db7e59652b4bed5359f0c1831d.php
storage/framework/views/46d22ebdf6f1f6305f255c81f48f56c2.php
storage/framework/views/63cbdf6ab2869f0355da17cd8756b0b1.php
storage/framework/views/650df88d9ec226672f13f00b36a4b326.php
storage/framework/views/74ebd90bad869fe6b781032cece98dad.php
storage/framework/views/8b80f6326b372d00f01f9485dc3908d2.php
storage/framework/views/9a7d521239902a3f4e2eb5e1dcba9cbc.php
storage/framework/views/a7e39206e689151c110fef46bb588043.php
storage/framework/views/a8439a8ed5a3742a4da81114f039b7bd.php
storage/framework/views/c4a1fbc0f12694b9484786f739141417.php
storage/framework/views/d2b75d86652745599a12a5675dbff692.php
storage/framework/views/e22fb9031dc4e6676aca67f1ea06aeb2.php
storage/framework/views/fc676b9de186060417a11c71282ed120.php
storage/logs/laravel.log
vendor/composer/autoload_psr4.php
vendor/composer/autoload_static.php
vendor/composer/installed.php
bootstrap/cache/config.php
/vendor/*
/vendor/composer
